* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,body {
	font-family: Calibri, Tahoma, sans-serif;
}

.container {
	padding: 0 15px;
}

#app {
	max-width: 800px;
	height: 600px;
	margin: 25px auto;
}

.app__main-title {
	height: 10%;
	font-size: 24px;
	font-weight: bold;
}

#app__main {
	height: 70%;
	overflow: hidden;
	/*background-color: red;*/
}

#app__main-holder {
	position: relative;
	height: 90%;
}

#app__main-wrapper {
	position: relative;
	z-index: 3;
	width: 100%;
	height: 100%;
	overflow: auto hidden;	
}

#app__breakpoints {
	position: absolute;
	top: 0;
	left: 0;
}

#app__scroll {
	height: 15%;
}

#app__switchers {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 30px 0 0 -20px;
}

.app-switcher {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border: 1px solid #ccc;
	border-radius: 50px;
	padding: 5px 15px 5px 5px;
	margin-left: 20px;
}

.app-switcher:not(.disabled):hover {
	cursor: pointer;
	background-color: #eee;
}

.app-switcher__chbox {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	overflow: hidden;
}

.app-switcher__chbox:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 16px;
	height: 16px;
	background-color: #fff;
	border-radius: 50%;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.checked .app-switcher__chbox:after {
	width: 0;
	height: 0;
}


.app-switcher__chbox .checkmark {
	width: 100%;
	height: 100%;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.checked .checkmark {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.app-switcher__name {
	margin-left: 10px;
}