html,body {
	font-family: Calibri, Tahoma, sans-serif;
}

.container {
	padding: 0 15px;
}

#app {
	max-width: 800px;
	height: 600px;
	margin: 25px auto;
}

.app__main-title {
	height: 10%;
	font-size: 24px;
	font-weight: bold;
}

#app__main {
	height: 70%;
	overflow: hidden;
	/*background-color: red;*/
}

#app__main-holder {
	position: relative;
	height: 90%;
}

#app__main-wrapper {
	position: relative;
	z-index: 3;
	width: 100%;
	height: 100%;
	overflow: auto hidden;	
}

#app__breakpoints {
	position: absolute;
	top: 0;
	left: 0;
}

#app__scroll {
	height: 15%;
	background-color: green;
}

#app__switchers {
	height: 15%;
	background-color: rgba(0,0,255,.3);
}